#containerOfEpisodios{
 padding: 5% 5% 0% 5%;
 
 display: grid;
 grid-template-columns: repeat(3, 1fr);
  grid-gap: 7px;
  grid-auto-rows: minmax(100px, auto);
}
.contenedorEpisodio{
  border: 5px solid;
  background-color: rgba(128, 255, 212,0.3);
}